.sidebar {
	width:300px !important;
	min-width:300px !important;
	border-right:2px solid #e7e7e7;
	background:#fff;
}
.logo-title {
	display: flex;
	flex-direction: column; 
	flex: 1;
}
.navigation {
	position:relative;
/*	padding: 5px 10px 10px 20px; */
}
.content-wrapper {
	padding: 20px;
	overflow:hidden;
	width: 100%;
}
.contents {
	background-color: rgb(0,0,0); /* Fallback color */
  	background-color: rgba(255,255,255, 0.87); /* Black w/opacity/see-through */
	padding:10px;
	border:3px solid #f1f1f1;
	border-radius:10px;
	height: calc(100vh - 125px);
	width: calc(100vw - 340px);
}
.org-title {
	padding:5px;
	text-align:center;
	font-size:16px;
	font-weight:600;
	border-radius: 7px;
	color:#232323;
	height:auto;
	background: #f4f6f9;
	border:1px solid #e7e7e7
}
.tabcontainer {
	display: flex;
	padding:10px 0px 10px 0px;
	border-bottom: 3px solid #e7e7e7;
	width:100%;
	margin-bottom:5px;
	white-space:nowrap;
}
.tabcontainer .search {
	margin-left:10px;
}
.tabcontainer .add-button {
	margin-left: auto;
	display: none;
}
.org-content {
	height: calc(100% - 90px);
	white-space:nowrap;
	overflow:hidden;
}
.search {
	position:relative;
	width:250px;
}
.search input {
	padding-left:30px;
	padding-right:30px
}
.search .search-icon {
	position:absolute;
	top:8px;
	left:10px;
}
.search .search-clear {
	position:absolute;
	top:8px;
	right:10px;
	cursor:pointer
}
.btn-group {
	white-space:nowrap;
}
.tableFixHead  { overflow: auto; height: calc(100vh - 250px); width:100% }
.tableFixHead thead th { position: sticky; top: 0; z-index: 1; background:#0cccae; color:#fff }
.tableFixHead table  { border-collapse: collapse;}
.tableFixHead th, .tableFixHead td { font-size:14px; white-space:nowrap } 
.tooltips {
	display: none;
	position:absolute;
	border: 1px solid red;
	padding:3px 7px 3px 7px;
	background: #fcf6e9;
	border-radius:6px;
	border:1px solid #aeaeae;
	font-size:12px;
	z-index: 9999;
	width:100%;
	box-shadow: 0 0 10px rgba(0, 0, 0, .6);	
	cursor:pointer;
}
/* ########################### FILE INFORMATION #################################### */
.file-information {width:500px;}
.file-information table th {width:170px;padding:5px;border:1px solid #e7e7e7;font-size:12px;}
.file-information table td {border:1px solid #e7e7e7;}
.file-information td input {border:0 !important;background:#fff !important;padding:3px !important;font-size: 12px;}
.file-information td input:focus {outline: none !important;}
.fieldset {margin-top:30px;position:relative;padding:20px 10px 10px 10px;border:1px solid #e7e7e7;font-size:14px;border-radius:10px;}
.fieldset .legend {position:absolute;padding:5px 15px 5px 15px ;margin-left:20px;width: auto;top: -20px;border:1px solid #aeaeae;
background:#f1f1f1;font-size:13px;border-radius:6px;}
.fieldset table th {font-weight: 600;background:#0cccae;color:#fff;white-space:nowrap;}
.fieldset table td {padding:3px;font-size:12px;}
.share-table {max-height:250px;overflow: auto;	}
.btnunshare {padding:4px 7px 4px 7px;font-size:11px;color:#333;border-radius:3px;background:#e7e7e7;cursor:pointer}
.btnunshare:hover {background: red;color:#fff;}
.sharing-nav {margin-top:10px;text-align:right;}
/* ########### FILE SHARING FORM ################### */
.sharingiscaring {border:1px solid dodgerblue;height:150px;padding:10px;font-size:14px;}
.scroller {overflow-x:hidden;overflow-y:scroll}
.select-department {list-style-type:none;margin:0;padding:0;}
.select-department li {padding:3px 5px 3px 5px;cursor:pointer;}
.select-department li:hover {background:#f1f1f1;}
.ress {padding:5px;border:1px solid orange;color:#333;border-radius:5px;}
.input-wrapper {margin-bottom:10px;}
.form-label {font-weight:600;font-size:14px;}
/* ######################### LOGIN ####################### */
.login-wrapper {margin-bottom:10px;}
.form-box {width: 100%;padding:40px;}
.input-box {position: relative;width:100%;height:50px;border-bottom: 2px solid #f1f1f1;margin-bottom:20px;}
.input-box label {position:absolute;top: 50%;left:5px;transform: translateY(-50%);font-size:1em;color:#a0a2a6;font-weight:500;pointer-events: none;transition: .5s;}
.input-box input:focus~label,.input-box input:valid~label {top:-5px;}
.input-box input {width:100%;height:100%;background: transparent;border:none;outline:none;font-size:1.5em;color:#232323;padding-right:30px;}
.input-box input[type=password]::-ms-reveal,
.input-box input[type=password]::-ms-clear{display: none;}
.input-box .icon {position:absolute;right:8px;font-size:1.2em;color: dodgerblue;line-height:57px;}

.change-btn {
	width:100%;
	padding:5px;
	text-align:center;
	color:#fff;
	border-radius:5px;
	cursor: pointer;
}
.smnav-header {
	display: flex;
	gap: 5px;
	white-space:nowrap;
	border:1px solid #aeaeae;
	border-bottom: 3px solid #aeaeae;
	padding:10px;
	background: #fff;
	border-radius: 7px 7px 0px 0px;
	min-width:600px;
	overflow-x:auto;
}
.subnav-header {
	display: flex;
	gap: 5px;
	white-space:nowrap;
	border:1px solid #aeaeae;
	padding:10px;
	background: #fff;
	min-width:600px;
	overflow-x:auto;
}
.search-shell {
	position: relative;
	width:270px;
}
.search-magnifying {
	position:absolute;
	top:3px;
	margin-left:5px;
}
.search-xmark {
	position:absolute;
	top: 1px;
	right: 5px;
	font-size:20px;
	cursor: pointer;
}
.search-xmark:hover {
	color: red;
}
.showmodule {
	text-align:center;	
}
.smnav-header input[type=text]{padding-left:25px;padding-right:27px}
.smnav-header select {margin-left: 10px;width:270px;}
.reload-data {display: flex;gap: 15px;margin-left: auto;right:0;}
.date-shell {display: flex;gap: 10px;}
.date-shell input[type=text] {width:140px;}
.DatatableFixHead {margin-top:15px;background:#fff;}
.DatatableFixHead { overflow: auto; height: calc(100vh - 222px); width:100% }
.DatatableFixHead thead th { position: sticky; top: 0; z-index: 1; background:#19b0e1; color:#fff; padding:7px !important }
.DatatableFixHead tbody td { padding:5px !important; vertical-align:middle !important; cursor: pointer }
.DatatableFixHead table  { border-collapse: collapse;}
.DatatableFixHead th, .DatatableFixHead td { font-size:14px; white-space:nowrap } 
#limit { text-align:center; }
.title-input {	border:0 !important;padding-left:5px !important;}
.form-dropper {display: none;position:absolute;border: 1px solid #aeaeae;min-width:250px;width: auto;min-height: auto;max-height: 300px;background: #fff;margin-top:5px;border-radius: 10px;box-shadow: 0 0 8px rgba(0, 0, 0, .6);overflow: auto;}
.droplistings {list-style-type: none;margin:0;padding:0;}
.droplistings li {display:block;border-bottom: 1px solid #f1f1f1;padding:5px;padding-left:10px;}
.droplistings li: last-child {border:0;}
.droplistings li:hover {background: #f1f1f1;}

